# Sample YAML file

#general configuration
graphql_url: "http://localhost:4000/graphql"
cookies: ""
auth_token: ""
max_depth: 1


#enum configuration
id: 1
filter: "gra"
limit: 1
offset: 1
sort: null
pagination: null
queries: null